{
  "ClientId":     "{{ prosperbot_prosper_client_id }}",
  "ClientSecret": "{{ prosperbot_prosper_client_secret }}",
  "Username":     "{{ prosperbot_prosper_username }}",
  "Password":     "{{ prosperbot_prosper_password }}"
}
